openapi: 3.0.0
info:
  title: Power BI REST API v1
  description: "Power BI REST API provides service endpoints for embedding, administration, and user resources.\r\n\r\nhttps://docs.microsoft.com/en-us/rest/api/power-bi/"
  version: 1.0.0
servers:
  - url: https://api.powerbi.com
tags:
  - name: Admin
    description: "Operations for working with administrative tasks.\r\n\r\nadmin"
  - name: Apps
    description: "Operations for working with Apps.\r\n\r\napps"
  - name: Available Features
    description: "Operations that return available features.\r\n\r\navailablefeatures"
  - name: Capacities
    description: "Operations for working with capacities.\r\n\r\ncapacities"
  - name: Dashboards
    description: "Operations for working with dashboards.\r\n\r\ndashboards"
  - name: Dataflow Storage Accounts
    description: "Operations for working with dataflow storage accounts.\r\n\r\ndataflowstorageaccounts"
  - name: Dataflows
    description: "Operations for working with dataflows.\r\n\r\ndataflows"
  - name: Datasets
    description: "Operations for working with datasets.\r\n\r\ndatasets"
  - name: Embed Token
    description: "Operations for working with embed tokens.\r\n\r\nembedtoken"
  - name: Gateways
    description: "Operations for working with gateways.\r\n\r\ngateways"
  - name: Groups
    description: "Operations for working with groups.\r\n\r\ngroups"
  - name: Imports
    description: "Operations for working with imports.\r\n\r\nimports"
  - name: Push Datasets
    description: "Operations for working with push datasets.\r\n\r\npushdatasets"
  - name: Reports
    description: "Operations for working with reports.\r\n\r\nreports"
  - name: Users
    description: "Operations for working with users.\r\n\r\nusers"
paths:
  /v1.0/myorg/admin/tenantKeys:
    post:
      tags:
        - Admin
      summary: Add Power BI Encryption Key
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/addpowerbiencryptionkey'>Add
        Power BI Encryption Key</a><br><p>Adds an encryption key for Power BI
        workspaces assigned to a capacity.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/>This API allows 600 requests per hour at maximum.
        <br/><br/><strong>Required scope</strong>: Tenant.Read.All or
        Tenant.ReadWrite.All<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n\t\"activate\": \"\",\n\t\"isDefault\":
                \"\",\n\t\"keyVaultKeyIdentifier\": \"\",\n\t\"name\": \"\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Admin
      summary: Get Power BI Encryption Keys
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/getpowerbiencryptionkeys'>Get
        Power BI Encryption Keys</a><br><p>Returns the encryption keys for the
        tenant.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/capacities/AssignWorkspaces:
    post:
      tags:
        - Admin
      summary: Capacities AssignWorkspacesToCapacity
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/capacities_assignworkspacestocapacity'>Capacities
        AssignWorkspacesToCapacity</a><br><p>Assigns the provided workspaces to
        the specified capacity.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n\t\"capacityMigrationAssignments\": \"\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/capacities/UnassignWorkspaces:
    post:
      tags:
        - Admin
      summary: Capacities UnassignWorkspacesFromCapacity
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/capacities_unassignworkspacesfromcapacity'>Capacities
        UnassignWorkspacesFromCapacity</a><br><p>Unassigns the provided
        workspaces from capacity.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n\t\"workspacesToUnassign\": \"\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/dashboards:
    get:
      tags:
        - Admin
      summary: Dashboards GetDashboardsAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/dashboards_getdashboardsasadmin'>Dashboards
        GetDashboardsAsAdmin</a><br><p>Returns a list of dashboards for the
        organization.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/>This API allows 200 requests per hour at maximum.
        <br/><br/><strong>Required scope</strong>: Tenant.Read.All or
        Tenant.ReadWrite.All<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/groups/{groupId}/dashboards:
    get:
      tags:
        - Admin
      summary: Dashboards GetDashboardsInGroupAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/dashboards_getdashboardsingroupasadmin'>Dashboards
        GetDashboardsInGroupAsAdmin</a><br><p>Returns a list of dashboards from
        the specified workspace.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/>This API allows 200 requests per hour at maximum.
        <br/><br/><strong>Required scope</strong>: Tenant.Read.All or
        Tenant.ReadWrite.All<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/dashboards/{dashboardId}/tiles:
    get:
      tags:
        - Admin
      summary: Dashboards GetTilesAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/dashboards_gettilesasadmin'>Dashboards
        GetTilesAsAdmin</a><br><p>Returns a list of tiles within the specified
        dashboard.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/>This API allows 200 requests per hour at maximum.
        <br/><br/><strong>Required scope</strong>: Tenant.Read.All or
        Tenant.ReadWrite.All<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: dashboardId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/dataflows/{dataflowId}/export:
    get:
      tags:
        - Admin
      summary: Dataflows ExportDataflowAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/dataflows_exportdataflowasadmin'>Dataflows
        ExportDataflowAsAdmin</a><br><p>Exports the specified dataflow
        definition to a .json file.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All<br/>Application only and delegated permissions are
        supported.<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: dataflowId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/dataflows/{dataflowId}/datasources:
    get:
      tags:
        - Admin
      summary: Dataflows GetDataflowDatasourcesAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/dataflows_getdataflowdatasourcesasadmin'>Dataflows
        GetDataflowDatasourcesAsAdmin</a><br><p>Returns a list of datasources
        for the specified dataflow.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All<br/>Application only and delegated permissions are
        supported.<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: dataflowId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/dataflows:
    get:
      tags:
        - Admin
      summary: Dataflows GetDataflowsAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/dataflows_getdataflowsasadmin'>Dataflows
        GetDataflowsAsAdmin</a><br><p>Returns a list of dataflows for the
        organization.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/groups/{groupId}/dataflows:
    get:
      tags:
        - Admin
      summary: Dataflows GetDataflowsInGroupAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/dataflows_getdataflowsingroupasadmin'>Dataflows
        GetDataflowsInGroupAsAdmin</a><br><p>Returns a list of dataflows from
        the specified workspace.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/groups/{groupId}/dataflows/{dataflowId}/upstreamDataflows:
    get:
      tags:
        - Admin
      summary: Dataflows GetUpstreamDataflowsInGroupAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/dataflows_getupstreamdataflowsingroupasadmin'>Dataflows
        GetUpstreamDataflowsInGroupAsAdmin</a><br><p>Returns a list of upstream
        dataflows for the specified dataflow.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: dataflowId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/datasets:
    get:
      tags:
        - Admin
      summary: Datasets GetDatasetsAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/datasets_getdatasetsasadmin'>Datasets
        GetDatasetsAsAdmin</a><br><p>Returns a list of datasets for the
        organization.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/>This API processes each request for 2 seconds, in
        the mean time other requests will be queued. <br/><br/><strong>Required
        scope</strong>: Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/groups/{groupId}/datasets:
    get:
      tags:
        - Admin
      summary: Datasets GetDatasetsInGroupAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/datasets_getdatasetsingroupasadmin'>Datasets
        GetDatasetsInGroupAsAdmin</a><br><p>Returns a list of datasets from the
        specified workspace.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/>This API allows 200 requests per hour at maximum.
        <br/><br/><strong>Required scope</strong>: Tenant.Read.All or
        Tenant.ReadWrite.All<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/groups/{groupId}/datasets/upstreamDataflows:
    get:
      tags:
        - Admin
      summary: Datasets GetDatasetToDataflowsLinksInGroupAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/datasets_getdatasettodataflowslinksingroupasadmin'>Datasets
        GetDatasetToDataflowsLinksInGroupAsAdmin</a><br><p>Returns a list of
        upstream dataflows for datasets from the specified workspace.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/datasets/{datasetId}/datasources:
    get:
      tags:
        - Admin
      summary: Datasets GetDatasourcesAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/datasets_getdatasourcesasadmin'>Datasets
        GetDatasourcesAsAdmin</a><br><p>Returns a list of datasources for the
        specified dataset.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/>This API processes each request for 0.5 seconds, in
        the mean time other requests  will be queued. <br/><br/><strong>Required
        scope</strong>: Tenant.Read.All<br/>Application only and delegated
        permissions are supported.<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: datasetId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/activityevents:
    get:
      tags:
        - Admin
      summary: Get Activity Events
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/getactivityevents'>Get
        Activity Events</a><br><p>Returns a list of audit activity events for a
        tenant.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/>This API allows 200 requests per hour at maximum.
        <br/><br/><strong>Required scope</strong>: Tenant.Read.All or
        Tenant.ReadWrite.All. <br/>To call this API, provide either a
        continuation token or both a start and end date time. StartDateTime and
        EndDateTime must be in the same UTC day.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/capacities:
    get:
      tags:
        - Admin
      summary: Get Capacities As Admin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/getcapacitiesasadmin'>Get
        Capacities As Admin</a><br><p>Returns a list of capacities for the
        organization.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/capacities/{capacityId}/refreshables/{refreshableId}:
    get:
      tags:
        - Admin
      summary: Get Refreshable For Capacity
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/getrefreshableforcapacity'>Get
        Refreshable For Capacity</a><br><p>Returns the specified refreshable for
        the specified capacity the user has access to<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: capacityId
          in: path
          schema:
            type: string
          required: true
        - name: refreshableId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/capacities/refreshables:
    get:
      tags:
        - Admin
      summary: Get Refreshables
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/getrefreshables'>Get
        Refreshables</a><br><p>Returns a list of refreshables for the
        organization within a capacity<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: $top
          in: query
          schema:
            type: string
          description: integer int32 Returns only the first n results.
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/capacities/{capacityId}/refreshables:
    get:
      tags:
        - Admin
      summary: Get Refreshables For Capacity
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/getrefreshablesforcapacity'>Get
        Refreshables For Capacity</a><br><p>Returns a list of refreshables for
        the specified capacity the user has access to<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: $top
          in: query
          schema:
            type: string
          description: integer int32 Returns only the first n results.
        - name: capacityId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/groups/{groupId}/users:
    post:
      tags:
        - Admin
      summary: Groups AddUserAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/groups_adduserasadmin'>Groups
        AddUserAsAdmin</a><br><p>Grants user permissions to the specified
        workspace.<br/>

        <strong>Note:</strong> This API is currently limited to updating
        workspaces in the new workspace experience. The user must have
        administrator rights (such as Office 365 Global Administrator or Power
        BI Service Administrator) to call this API. <br/>This API allows 200
        requests per hour at maximum. <br/><br/><strong>Required scope</strong>:
        Tenant.ReadWrite.All<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n\t\"displayName\": \"\",\n\t\"emailAddress\":
                \"\",\n\t\"groupUserAccessRight\": \"\",\n\t\"identifier\":
                \"\",\n\t\"principalType\": \"\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/groups/{groupId}/users/{user}:
    delete:
      tags:
        - Admin
      summary: Groups DeleteUserAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/groups_deleteuserasadmin'>Groups
        DeleteUserAsAdmin</a><br><p>Removes user permissions to the specified
        workspace.<br/>

        <strong>Note:</strong> This API is currently limited to updating
        workspaces in the new workspace experience. The user must have
        administrator rights (such as Office 365 Global Administrator or Power
        BI Service Administrator) to call this API. <br/>This API allows 200
        requests per hour at maximum. <br/><br/><strong>Required scope</strong>:
        Tenant.ReadWrite.All<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: user
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/groups:
    get:
      tags:
        - Admin
      summary: Groups GetGroupsAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/groups_getgroupsasadmin'>Groups
        GetGroupsAsAdmin</a><br><p>Returns a list of workspaces for the
        organization.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/>This API allows 200 requests per hour at maximum.
        <br/><br/><strong>Required scope</strong>: Tenant.Read.All or
        Tenant.ReadWrite.All<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: $top
          in: query
          schema:
            type: string
          description: >-
            integer int32 Returns only the first n results. This parameter is
            mandatory and must be in the range of 1-5000.
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/groups/{groupId}/restore:
    post:
      tags:
        - Admin
      summary: Groups RestoreDeletedGroupAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/groups_restoredeletedgroupasadmin'>Groups
        RestoreDeletedGroupAsAdmin</a><br><p>Restores a deleted workspace.<br/>

        <strong>Note</strong>: This API is currently limited to restoring
        workspaces in the new workspace experience. The user must have
        administrator rights (such as Office 365 Global Administrator or Power
        BI Service Administrator) to call this API. <br/>This API allows 200
        requests per hour at maximum. <br/>This API allows 200 requests per hour
        at maximum. <br/><br/><strong>Required scope</strong>:
        Tenant.ReadWrite.All<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n\t\"emailAddress\": \"\",\n\t\"name\": \"\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/groups/{groupId}:
    patch:
      tags:
        - Admin
      summary: Groups UpdateGroupAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/groups_updategroupasadmin'>Groups
        UpdateGroupAsAdmin</a><br><p>Updates the specified workspace
        properties.<br/>

        <strong>Note</strong>: This API is currently limited to updating
        workspaces in the new workspace experience. Only name and description
        can be updated, and name must be unique inside an organization. The user
        must have administrator rights (such as Office 365 Global Administrator
        or Power BI Service Administrator) to call this API. <br/>This API
        allows 200 requests per hour at maximum. <br/><br/><strong>Required
        scope</strong>: Tenant.ReadWrite.All<br/>To set the permissions scope,
        see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n\t\"capacityId\": \"\",\n\t\"dashboards\":
                \"\",\n\t\"dataflowStorageId\": \"\",\n\t\"dataflows\":
                \"\",\n\t\"datasets\": \"\",\n\t\"description\":
                \"\",\n\t\"id\": \"\",\n\t\"isOnDedicatedCapacity\":
                \"\",\n\t\"isReadOnly\": \"\",\n\t\"name\":
                \"\",\n\t\"reports\": \"\",\n\t\"state\": \"\",\n\t\"type\":
                \"\",\n\t\"users\": \"\",\n\t\"workbooks\": \"\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/imports:
    get:
      tags:
        - Admin
      summary: Imports GetImportsAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/imports_getimportsasadmin'>Imports
        GetImportsAsAdmin</a><br><p>Returns a list of imports for the
        organization.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/capacities/{capacityId}:
    patch:
      tags:
        - Admin
      summary: Patch Capacity As Admin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/patchcapacityasadmin'>Patch
        Capacity As Admin</a><br><p>Changes the specific capacity information.
        Currently, only supports changing the capacity encryption key<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n\t\"tenantKeyId\": \"\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: capacityId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/reports:
    get:
      tags:
        - Admin
      summary: Reports GetReportsAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/reports_getreportsasadmin'>Reports
        GetReportsAsAdmin</a><br><p>Returns a list of reports for the
        organization.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/><br/><strong>Required scope</strong>:
        Tenant.Read.All or Tenant.ReadWrite.All<br/>To set the permissions
        scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/groups/{groupId}/reports:
    get:
      tags:
        - Admin
      summary: Reports GetReportsInGroupAsAdmin
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/reports_getreportsingroupasadmin'>Reports
        GetReportsInGroupAsAdmin</a><br><p>Returns a list of reports from the
        specified workspace.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/>This API allows 200 requests per hour at maximum.
        <br/><br/><strong>Required scope</strong>: Tenant.Read.All or
        Tenant.ReadWrite.All<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/admin/tenantKeys/{tenantKeyId}/Default.Rotate:
    post:
      tags:
        - Admin
      summary: Rotate Power BI Encryption Key
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/admin/rotatepowerbiencryptionkey'>Rotate
        Power BI Encryption Key</a><br><p>Rotate the encryption key for Power BI
        workspaces assigned to a capacity.<br/>

        <strong>Note:</strong> The user must have administrator rights (such as
        Office 365 Global Administrator or Power BI Service Administrator) to
        call this API. <br/>This API allows 600 requests per hour at maximum.
        <br/><br/><strong>Required scope</strong>: Tenant.Read.All or
        Tenant.ReadWrite.All<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n\t\"keyVaultKeyIdentifier\": \"\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: tenantKeyId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/apps/{appId}:
    get:
      tags:
        - Apps
      summary: Get App
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/apps/getapp'>Get
        App</a><br><p>Returns the specified installed app.<br/>

        <br/><strong>Required scope</strong>: App.Read.All<br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: appId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/apps:
    get:
      tags:
        - Apps
      summary: Get Apps
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/apps/getapps'>Get
        Apps</a><br><p>Returns a list of installed apps.<br/>

        <br/><strong>Required scope</strong>: App.Read.All<br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/apps/{appId}/dashboards/{dashboardId}:
    get:
      tags:
        - Apps
      summary: Get Dashboard
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/apps/getdashboard'>Get
        Dashboard</a><br><p>Returns the specified dashboard from the specified
        app.<br/>

        <br/><strong>Required scope</strong>: Dashboard.ReadWrite.All or
        Dashboard.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: appId
          in: path
          schema:
            type: string
          required: true
        - name: dashboardId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/apps/{appId}/dashboards:
    get:
      tags:
        - Apps
      summary: Get Dashboards
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/apps/getdashboards'>Get
        Dashboards</a><br><p>Returns a list of dashboards from the specified
        app.<br/>

        <br/><strong>Required scope</strong>: Dashboard.ReadWrite.All or
        Dashboard.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: appId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/apps/{appId}/reports/{reportId}:
    get:
      tags:
        - Apps
      summary: Get Report
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/apps/getreport'>Get
        Report</a><br><p>Returns the specified report from the specified
        app.<br/>

        <br/><strong>Required scope</strong>: Report.ReadWrite.All or
        Report.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: appId
          in: path
          schema:
            type: string
          required: true
        - name: reportId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/apps/{appId}/reports:
    get:
      tags:
        - Apps
      summary: Get Reports
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/apps/getreports'>Get
        Reports</a><br><p>Returns a list of reports from the specified app.<br/>

        <br/><strong>Required scope</strong>: Report.ReadWrite.All or
        Report.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: appId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/apps/{appId}/dashboards/{dashboardId}/tiles/{tileId}:
    get:
      tags:
        - Apps
      summary: Get Tile
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/apps/gettile'>Get
        Tile</a><br><p>Returns the specified tile within the specified dashboard
        from the specified app.<br/>

        <strong>Note</strong>: All tile types are supported except for "model
        tiles", which include datasets and live tiles that contain an entire
        report page. <br/><br/><strong>Required scope</strong>:
        Dashboard.ReadWrite.All or Dashboard.Read.All <br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: appId
          in: path
          schema:
            type: string
          required: true
        - name: dashboardId
          in: path
          schema:
            type: string
          required: true
        - name: tileId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/apps/{appId}/dashboards/{dashboardId}/tiles:
    get:
      tags:
        - Apps
      summary: Get Tiles
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/apps/gettiles'>Get
        Tiles</a><br><p>Returns a list of tiles within the specified dashboard
        from the specified app.<br/>

        <br/><strong>Required scope</strong>: Dashboard.ReadWrite.All or
        Dashboard.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: appId
          in: path
          schema:
            type: string
          required: true
        - name: dashboardId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/availableFeatures(featureName='{featureName}'):
    get:
      tags:
        - Available Features
      summary: Get Available Feature By Name
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/availablefeatures/getavailablefeaturebyname'>Get
        Available Feature By Name</a><br><p>Returns the specified available
        feature for user by name.<br/>

        <br/><strong>Required scope</strong>: None</p>
      parameters:
        - name: featureName
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/availableFeatures:
    get:
      tags:
        - Available Features
      summary: Get Available Features
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/availablefeatures/getavailablefeatures'>Get
        Available Features</a><br><p>Returns a list of available features for
        the user<br/>

        <br/><strong>Required scope</strong>: None</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/capacities:
    get:
      tags:
        - Capacities
      summary: Get Capacities
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/capacities/getcapacities'>Get
        Capacities</a><br><p>Returns a list of capacities the user has access
        to.<br/>

        <br/><strong>Required scope</strong>: Capacity.Read.All or
        Capacity.ReadWrite.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/capacities/{capacityId}/refreshables/{refreshableId}:
    get:
      tags:
        - Capacities
      summary: Get Refreshable For Capacity
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/capacities/getrefreshableforcapacity'>Get
        Refreshable For Capacity</a><br><p>Returns the specified refreshable for
        the specified capacity the user has access to<br/>

        <br/><strong>Required scope</strong>: Capacity.Read.All or
        Capacity.ReadWrite.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: capacityId
          in: path
          schema:
            type: string
          required: true
        - name: refreshableId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/capacities/refreshables:
    get:
      tags:
        - Capacities
      summary: Get Refreshables
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/capacities/getrefreshables'>Get
        Refreshables</a><br><p>Returns a list of refreshables for all capacities
        of which the user has access to.<br/>

        <br/><strong>Required scope</strong>: Capacity.Read.All or
        Capacity.ReadWrite.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: $top
          in: query
          schema:
            type: string
          description: integer int32 Returns only the first n results.
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/capacities/{capacityId}/refreshables:
    get:
      tags:
        - Capacities
      summary: Get Refreshables For Capacity
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/capacities/getrefreshablesforcapacity'>Get
        Refreshables For Capacity</a><br><p>Returns a list of refreshables for
        the specified capacity the user has access to<br/>

        <br/><strong>Required scope</strong>: Capacity.Read.All or
        Capacity.ReadWrite.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: $top
          in: query
          schema:
            type: string
          description: integer int32 Returns only the first n results.
        - name: capacityId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/capacities/{capacityId}/Workloads/{workloadName}:
    get:
      tags:
        - Capacities
      summary: Get Workload
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/capacities/getworkload'>Get
        Workload</a><br><p>Returns the current state of a workload and if the
        workload is enabled also returns the maximum memory percentage that the
        workload can consume.<br/>

        <br/><strong>Required scope</strong>: Capacity.Read.All or
        Capacity.ReadWrite.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: capacityId
          in: path
          schema:
            type: string
          required: true
        - name: workloadName
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Capacities
      summary: Patch Workload
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/capacities/patchworkload'>Patch
        Workload</a><br><p>Changes the state of a specific workload to Enabled
        or Disabled. When enabling a workload the maximum memory percentage that
        the workload can consume must be set.<br/>

        <br/><strong>Required scope</strong>: Capacity.ReadWrite.All <br/>To set
        the permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n\t\"maxMemoryPercentageSetByUser\": \"\",\n\t\"state\":
                \"\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: capacityId
          in: path
          schema:
            type: string
          required: true
        - name: workloadName
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/capacities/{capacityId}/Workloads:
    get:
      tags:
        - Capacities
      summary: Get Workloads
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/capacities/getworkloads'>Get
        Workloads</a><br><p>Returns the current state of the specified capacity
        workloads, if a workload is enabled also returns the maximum memory
        percentage that the workload can consume.<br/>

        <br/><strong>Required scope</strong>: Capacity.Read.All or
        Capacity.ReadWrite.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: capacityId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/AssignToCapacity:
    post:
      tags:
        - Capacities
      summary: Groups AssignMyWorkspaceToCapacity
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/capacities/groups_assignmyworkspacetocapacity'>Groups
        AssignMyWorkspaceToCapacity</a><br><p>Assigns <strong>"My
        Workspace"</strong> to the specified capacity.<br/>

        <strong>Note</strong>: To perform this operation, the user must have
        admin or assign permissions on the capacity. To unassign <strong>"My
        Workspace"</strong> from a capacity, Empty Guid
        (00000000-0000-0000-0000-000000000000) should be provided as
        capacityId.  <br/><br/><strong>Required scope</strong>:
        Capacity.ReadWrite.All and Workspace.ReadWrite.All <br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n\t\"capacityId\": \"\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/AssignToCapacity:
    post:
      tags:
        - Capacities
      summary: Groups AssignToCapacity
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/capacities/groups_assigntocapacity'>Groups
        AssignToCapacity</a><br><p>Assigns the specified workspace to the
        specified capacity.<br/>

        <strong>Note</strong>: To perform this operation, the user must be admin
        on the specified workspace and have admin or assign permissions on the
        capacity. To unassign the specified workspace from a capacity, Empty
        Guid (00000000-0000-0000-0000-000000000000) should be provided as
        capacityId.  <br/><br/><strong>Required scope</strong>:
        Capacity.ReadWrite.All and Workspace.ReadWrite.All <br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n\t\"capacityId\": \"\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/CapacityAssignmentStatus:
    get:
      tags:
        - Capacities
      summary: Groups CapacityAssignmentStatus
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/capacities/groups_capacityassignmentstatus'>Groups
        CapacityAssignmentStatus</a><br><p>Gets the status of the assignment to
        capacity operation of the specified workspace.<br/>

        <strong>Note</strong>: To perform this operation, the user must be admin
        on the specified workspace. <br/><br/><strong>Required scope</strong>:
        Workspace.Read.All and Workspace.ReadWrite.All <br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/CapacityAssignmentStatus:
    get:
      tags:
        - Capacities
      summary: Groups CapacityAssignmentStatusMyWorkspace
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/capacities/groups_capacityassignmentstatusmyworkspace'>Groups
        CapacityAssignmentStatusMyWorkspace</a><br><p>Gets the status of
        <strong>"My Workspace"</strong> assignment to capacity operation.<br/>

        <strong>Note</strong>: <br/><br/><strong>Required scope</strong>:
        Workspace.Read.All and Workspace.ReadWrite.All <br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/dashboards:
    post:
      tags:
        - Dashboards
      summary: Add Dashboard
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dashboards/adddashboard'>Add
        Dashboard</a><br><p>Creates a new empty dashboard on <strong>"My
        Workspace"</strong>.<br/>

        <br/><strong>Required scope</strong>: Content.Create <br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n\t\"name\": \"\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Dashboards
      summary: Get Dashboards
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dashboards/getdashboards'>Get
        Dashboards</a><br><p>Returns a list of dashboards from <strong>"My
        Workspace"</strong>.<br/>

        <br/><strong>Required scope</strong>: Dashboard.ReadWrite.All or
        Dashboard.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/dashboards:
    post:
      tags:
        - Dashboards
      summary: Add Dashboard In Group
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dashboards/adddashboardingroup'>Add
        Dashboard In Group</a><br><p>Creates a new empty dashboard on the
        specified workspace.<br/>

        <br/><strong>Required scope</strong>: Content.Create <br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n\t\"name\": \"\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Dashboards
      summary: Get Dashboards In Group
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dashboards/getdashboardsingroup'>Get
        Dashboards In Group</a><br><p>Returns a list of dashboards from the
        specified workspace.<br/>

        <br/><strong>Required scope</strong>: Dashboard.ReadWrite.All or
        Dashboard.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/dashboards/{dashboardId}/tiles/{tileId}/Clone:
    post:
      tags:
        - Dashboards
      summary: Clone Tile
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dashboards/clonetile'>Clone
        Tile</a><br><p>Clones the specified tile from <strong>"My
        Workspace"</strong>.<br/>

        <br/>If target report id and target dataset are not specified, the
        following can occur:<li>When a tile clone is performed within the same
        workspace, the report and dataset links will be cloned from the source
        tile.</li><li>When cloning a tile within a different workspace, report
        and dataset links will be rested, and the tile will be
        broken.</li><br/><strong>Required scope</strong>:
        Dashboard.ReadWrite.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n\t\"positionConflictAction\":
                \"\",\n\t\"targetDashboardId\": \"\",\n\t\"targetModelId\":
                \"\",\n\t\"targetReportId\": \"\",\n\t\"targetWorkspaceId\":
                \"\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: dashboardId
          in: path
          schema:
            type: string
          required: true
        - name: tileId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/dashboards/{dashboardId}/tiles/{tileId}/Clone:
    post:
      tags:
        - Dashboards
      summary: Clone Tile In Group
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dashboards/clonetileingroup'>Clone
        Tile In Group</a><br><p>Clones the specified tile from the specified
        workspace.<br/>

        <br/>If target report id and target dataset are missing, the following
        can occur:<li>When a tile clone is performed within the same workspace,
        the report and dataset links will be cloned from the source
        tile.</li><li>If you are cloning a tile within a different workspace,
        report and dataset links will be rested. The tile will be
        broken.</li><br/><strong>Required scope</strong>:
        Dashboard.ReadWrite.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n\t\"positionConflictAction\":
                \"\",\n\t\"targetDashboardId\": \"\",\n\t\"targetModelId\":
                \"\",\n\t\"targetReportId\": \"\",\n\t\"targetWorkspaceId\":
                \"\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: dashboardId
          in: path
          schema:
            type: string
          required: true
        - name: tileId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/dashboards/{dashboardId}:
    get:
      tags:
        - Dashboards
      summary: Get Dashboard
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dashboards/getdashboard'>Get
        Dashboard</a><br><p>Returns the specified dashboard from <strong>"My
        Workspace"</strong>.<br/>

        <br/><strong>Required scope</strong>: Dashboard.ReadWrite.All or
        Dashboard.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: dashboardId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/dashboards/{dashboardId}:
    get:
      tags:
        - Dashboards
      summary: Get Dashboard In Group
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dashboards/getdashboardingroup'>Get
        Dashboard In Group</a><br><p>Returns the specified dashboard from the
        specified workspace.<br/>

        <br/><strong>Required scope</strong>: Dashboard.ReadWrite.All or
        Dashboard.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: dashboardId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/dashboards/{dashboardId}/tiles/{tileId}:
    get:
      tags:
        - Dashboards
      summary: Get Tile
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dashboards/gettile'>Get
        Tile</a><br><p>Returns the specified tile within the specified dashboard
        from <strong>"My Workspace"</strong>.<br/>

        <strong>Note</strong>: All tile types are supported except for "model
        tiles", which include datasets and live tiles that contain an entire
        report page. <br/><br/><strong>Required scope</strong>:
        Dashboard.ReadWrite.All or Dashboard.Read.All <br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: dashboardId
          in: path
          schema:
            type: string
          required: true
        - name: tileId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/dashboards/{dashboardId}/tiles/{tileId}:
    get:
      tags:
        - Dashboards
      summary: Get Tile In Group
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dashboards/gettileingroup'>Get
        Tile In Group</a><br><p>Returns the specified tile within the specified
        dashboard from the specified workspace.<br/>

        <strong>Note</strong>: All tile types are supported except for "model
        tiles", which include datasets and live tiles that contain an entire
        report page. <br/><br/><strong>Required scope</strong>:
        Dashboard.ReadWrite.All or Dashboard.Read.All <br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: dashboardId
          in: path
          schema:
            type: string
          required: true
        - name: tileId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/dashboards/{dashboardId}/tiles:
    get:
      tags:
        - Dashboards
      summary: Get Tiles
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dashboards/gettiles'>Get
        Tiles</a><br><p>Returns a list of tiles within the specified dashboard
        from <strong>"My Workspace"</strong>.<br/>

        <strong>Note</strong>: All tile types are supported except for "model
        tiles", which include datasets and live tiles that contain an entire
        report page. <br/><br/><strong>Required scope</strong>:
        Dashboard.ReadWrite.All or Dashboard.Read.All <br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: dashboardId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/dashboards/{dashboardId}/tiles:
    get:
      tags:
        - Dashboards
      summary: Get Tiles In Group
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dashboards/gettilesingroup'>Get
        Tiles In Group</a><br><p>Returns a list of tiles within the specified
        dashboard from the specified workspace.<br/>

        <strong>Note</strong>: All tile types are supported except for "model
        tiles", which include datasets and live tiles that contain an entire
        report page. <br/><br/><strong>Required scope</strong>:
        Dashboard.ReadWrite.All or Dashboard.Read.All <br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: dashboardId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/dataflowStorageAccounts:
    get:
      tags:
        - Dataflow Storage Accounts
      summary: Get Dataflow Storage Accounts
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dataflowstorageaccounts/getdataflowstorageaccounts'>Get
        Dataflow Storage Accounts</a><br><p>Returns a list of dataflow storage
        accounts the user has access to.<br/>

        <br/><strong>Required scope</strong>: StorageAccount.Read.All or
        StorageAccount.ReadWrite.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/AssignToDataflowStorage:
    post:
      tags:
        - Dataflow Storage Accounts
      summary: Groups AssignToDataflowStorage
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dataflowstorageaccounts/groups_assigntodataflowstorage'>Groups
        AssignToDataflowStorage</a><br><p>Assigns the specified workspace to the
        specified dataflow storage account.<br/>

        <strong>Note</strong>: To perform this operation, the user must be an
        admin on the specified workspace and the Power BI dataflow storage
        account must be enabled. To unassign the specified workspace from a
        Power BI dataflow storage account, an empty GUID
        (00000000-0000-0000-0000-000000000000) should be provided as
        dataflowStorageId.<br/><br/><strong>Required scope</strong>:
        StorageAccount.ReadWrite.All and Workspace.ReadWrite.All <br/>To set the
        permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n\t\"dataflowStorageId\": \"\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/dataflows/{dataflowId}:
    delete:
      tags:
        - Dataflows
      summary: Delete Dataflow
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dataflows/deletedataflow'>Delete
        Dataflow</a><br><p>Deletes a dataflow from the CDS for Analytics
        storage, including its definition file and actual model.<br/>

        <br/><strong>Required scope</strong>: Dataflow.ReadWrite.All <br/>To set
        the permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: dataflowId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Dataflows
      summary: Get Dataflow
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dataflows/getdataflow'>Get
        Dataflow</a><br><p>Exports the specified dataflow definition to a .json
        file.<br/>

        <br/><strong>Required scope</strong>: Dataflow.ReadWrite.All or
        Dataflow.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: dataflowId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/dataflows/{dataflowId}/datasources:
    get:
      tags:
        - Dataflows
      summary: Get Dataflow Data Sources
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dataflows/getdataflowdatasources'>Get
        Dataflow Data Sources</a><br><p>Returns a list of datasources for the
        specified dataflow.<br/>

        <br/><strong>Required scope</strong>: Dataflow.ReadWrite.All or
        Dataflow.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: dataflowId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/dataflows:
    get:
      tags:
        - Dataflows
      summary: Get Dataflows
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dataflows/getdataflows'>Get
        Dataflows</a><br><p>Returns a list of all dataflows from the specified
        workspace.<br/>

        <br/><strong>Required scope</strong>: Dataflow.ReadWrite.All or
        Dataflow.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/dataflows/{dataflowId}/upstreamDataflows:
    get:
      tags:
        - Dataflows
      summary: Get Upstream Dataflows In Group
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dataflows/getupstreamdataflowsingroup'>Get
        Upstream Dataflows In Group</a><br><p>Returns a list of upstream
        dataflows for the specified dataflow.<br/>

        <br/><strong>Required scope</strong>: Dataflow.ReadWrite.All or
        Dataflow.Read.All<br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: dataflowId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/dataflows/{dataflowId}/refreshes:
    post:
      tags:
        - Dataflows
      summary: Refresh Dataflow
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dataflows/refreshdataflow'>Refresh
        Dataflow</a><br><p>Triggers a refresh for the specified dataflow.<br/>

        <br/><strong>Required scope</strong>: Dataflow.ReadWrite.All <br/>To set
        the permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n\t\"notifyOption\": \"\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: dataflowId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/dataflows/{dataflowId}/refreshSchedule:
    patch:
      tags:
        - Dataflows
      summary: Update Refresh Schedule
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/dataflows/updaterefreshschedule'>Update
        Refresh Schedule</a><br><p>Creates or updates the specified dataflow
        refresh schedule configuration.<br/>

        <br/><strong>Required scope</strong>: Dataflow.ReadWrite.All <br/>To set
        the permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n\t\"value\": \"\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: dataflowId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/datasets/{datasetId}/Default.BindToGateway:
    post:
      tags:
        - Datasets
      summary: Bind To Gateway
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/datasets/bindtogateway'>Bind
        To Gateway</a><br><p>Binds the specified dataset from <strong>"My
        Workspace"</strong> to the specified gateway with (optional) given set
        of datasource Ids. This only supports the On-Premises Data Gateway.<br/>

        <br/><strong>Required scope</strong>: Dataset.ReadWrite.All <br/>To set
        the permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n\t\"datasourceObjectIds\": \"\",\n\t\"gatewayObjectId\":
                \"\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: datasetId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/datasets/{datasetId}/Default.BindToGateway:
    post:
      tags:
        - Datasets
      summary: Bind To Gateway In Group
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/datasets/bindtogatewayingroup'>Bind
        To Gateway In Group</a><br><p>Binds the specified dataset from the
        specified workspace to the specified gateway with (optional) given set
        of datasource Ids. This only supports the On-Premises Data Gateway.<br/>

        <br/><strong>Required scope</strong>: Dataset.ReadWrite.All <br/>To set
        the permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n\t\"datasourceObjectIds\": \"\",\n\t\"gatewayObjectId\":
                \"\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: datasetId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/datasets/{datasetId}:
    delete:
      tags:
        - Datasets
      summary: Delete Dataset
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/datasets/deletedataset'>Delete
        Dataset</a><br><p>Deletes the specified dataset from <strong>"My
        Workspace"</strong>.<br/>

        <br/><strong>Required scope</strong>: Dataset.ReadWrite.All <br/>To set
        the permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: datasetId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Datasets
      summary: Get Dataset
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/datasets/getdataset'>Get
        Dataset</a><br><p>Returns the specified dataset from <strong>"My
        Workspace"</strong>.<br/>

        <br/><strong>Required scope</strong>: Dataset.ReadWrite.All or
        Dataset.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: datasetId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/datasets/{datasetId}:
    delete:
      tags:
        - Datasets
      summary: Delete Dataset In Group
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/datasets/deletedatasetingroup'>Delete
        Dataset In Group</a><br><p>Deletes the specified dataset from the
        specified workspace.<br/>

        <br/><strong>Required scope</strong>: Dataset.ReadWrite.All <br/>To set
        the permissions scope, see <a data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: datasetId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Datasets
      summary: Get Dataset In Group
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/datasets/getdatasetingroup'>Get
        Dataset In Group</a><br><p>Returns the specified dataset from the
        specified workspace.<br/>

        <br/><strong>Required scope</strong>: Dataset.ReadWrite.All or
        Dataset.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: datasetId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/datasets/{datasetId}/Default.DiscoverGateways:
    get:
      tags:
        - Datasets
      summary: Discover Gateways
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/datasets/discovergateways'>Discover
        Gateways</a><br><p>Returns a list of gateways which the specified
        dataset from <strong>"My Workspace"</strong> can be bound to.<br/>

        This API is relevant only for datasets that have at least one
        on-premises connection. <br/>For datasets with cloud-only connections,
        it will return an empty list. <br/><br/><strong>Required scope</strong>:
        Dataset.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: datasetId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/datasets/{datasetId}/Default.DiscoverGateways:
    get:
      tags:
        - Datasets
      summary: Discover Gateways In Group
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/datasets/discovergatewaysingroup'>Discover
        Gateways In Group</a><br><p>Returns a list of gateways that the
        specified dataset from the specified workspace can be bound to.<br/>

        This API is relevant only for datasets that have at least one
        on-premises connection. <br/>For datasets with cloud-only connections,
        it will return an empty list. <br/><br/><strong>Required scope</strong>:
        Dataset.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
        - name: datasetId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/datasets:
    get:
      tags:
        - Datasets
      summary: Get Datasets
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/datasets/getdatasets'>Get
        Datasets</a><br><p>Returns a list of datasets from <strong>"My
        Workspace"</strong>.<br/>

        <br/><strong>Required scope</strong>: Dataset.ReadWrite.All or
        Dataset.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Push Datasets
      summary: Datasets PostDataset
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/pushdatasets/datasets_postdataset'>Datasets
        PostDataset</a><br><p>Creates a new dataset on <strong>"My
        Workspace"</strong>.<br/>

        <br/><strong>Note</strong>: This API supports only Push
        datasets.<br/><br/><strong>Required scope</strong>:
        Dataset.ReadWrite.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n\t\"datasources\": \"\",\n\t\"defaultMode\":
                \"\",\n\t\"name\": \"\",\n\t\"relationships\":
                \"\",\n\t\"tables\": \"\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/datasets:
    get:
      tags:
        - Datasets
      summary: Get Datasets In Group
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/datasets/getdatasetsingroup'>Get
        Datasets In Group</a><br><p>Returns a list of datasets from the
        specified workspace.<br/>

        <br/><strong>Required scope</strong>: Dataset.ReadWrite.All or
        Dataset.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Push Datasets
      summary: Datasets PostDatasetInGroup
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/pushdatasets/datasets_postdatasetingroup'>Datasets
        PostDatasetInGroup</a><br><p>Creates a new dataset in the specified
        workspace.<br/>

        <br/><strong>Note</strong>: This API supports only Push
        datasets.<br/><br/><strong>Required scope</strong>:
        Dataset.ReadWrite.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n\t\"datasources\": \"\",\n\t\"defaultMode\":
                \"\",\n\t\"name\": \"\",\n\t\"relationships\":
                \"\",\n\t\"tables\": \"\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/groups/{groupId}/datasets/upstreamDataflows:
    get:
      tags:
        - Datasets
      summary: Get Dataset To Dataflows Links In Group
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/datasets/getdatasettodataflowslinksingroup'>Get
        Dataset To Dataflows Links In Group</a><br><p>Returns a list of upstream
        dataflows for datasets from the specified workspace.<br/>

        <br/><strong>Required scope</strong>: Dataset.ReadWrite.All or
        Dataset.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: groupId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1.0/myorg/datasets/{datasetId}/datasources:
    get:
      tags:
        - Datasets
      summary: Get Datasources
      description: >-
        <a
        href='https://docs.microsoft.com/en-us/rest/api/power-bi/datasets/getdatasources'>Get
        Datasources</a><br><p>Returns a list of datasources for the specified
        dataset from <strong>"My Workspace"</strong>.<br/>

        <br/><strong>Required scope</strong>: Dataset.ReadWrite.All or
        Dataset.Read.All <br/>To set the permissions scope, see <a
        data-linktype="external"
        href="https://docs.microsoft.com/power-bi/developer/register-app">Register
        an app</a>.</p>
      parameters:
        - name: datasetId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
[...]
